.create-note-form-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}
.create-note-form-box {
  border-radius: 10px;
  width: 500px;
  margin: 30px auto 20px auto;
  position: relative;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}
input {
  width: 100%;
  font-size: 190%;
  padding: 10px 0px 10px 10px;
  border-width: 1px;
  border-radius: 5px;
}
textarea {
  width: 100%;
  resize: none;
  font-size: 120%;
  border-top: 0;
  padding: 10px 0px 10px 10px;
  border-radius: 5px;
}
