* {
  padding: 0;
  margin: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
  position: relative;
  min-height: 100vh;
  background-color: #f55742;
}
html {
  text-align: center;
}
.box {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 5px auto;
  padding-bottom: 50px;
}

footer {
  bottom: 0;
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: #f54272;
  box-shadow: 3px -3px black;
}

header {
  background-color: #8f3668;
  font-size: 180%;
  font-family: "Pacifico", cursive;
  text-align: start;
  padding: 0px 0px 10px 20px;
  box-shadow: 5px 5px rgb(204, 89, 89);
}
